body {
    margin:0;
    background-color: #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clear{clear:both;}

.content, .footer {
    width:900px;
    margin:0px auto 10px;
    padding: 0 10px;
}

h1, h2, h3 {
    margin:7px 0;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
}

h2 {
    color:#aaa;
    font-weight: normal;
    font-size: 28px;
}

h3 {
    color:#444;
    font-weight: normal;
    font-size: 28px;
}

p {
    color:#555;
    font-weight: normal;
    font-size: 15px;
    text-shadow: 0 -1px 1px #CCCCCC;
    text-align: justify;
}

p>span {
    color:#aaa;
}

a {
    text-decoration:none;
    color:#aaa;
}

hr {
    box-shadow: 0 0 3px #999999;
    color: #EFEFEF;
    margin: 10px 0 30px;
}

.content {
    background-color: #FFFFFF;
    box-shadow: 0 0 25px #CCCCCC;
    margin-top: 20px;
    min-height: 400px;
    padding: 60px;
    width: 840px;
}

.header-content {
    padding-bottom:30px;
    //border-bottom: solid 1px #aaa;

}

.avatar {
    border: 3px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px #CCCCCC;
    float: right;
    height: 250px;
    overflow: hidden;
    width: 220px;
    margin-left: 50px;
}
.avatar>img{
    width:220px;
}

.content-box h1 {
    color:#0b8bbb;
    font-size: 22px;
}

.content-box h2 {
    color:#888;
    font-size: 22px;
}

.content-box p {
    color:#777;
    font-size: 14px;
}

.footer {
    margin-top:10px;
    text-align:center;
    color:#777;
    font-size: 14px;

}

.menu ul{
    list-style: none outside none;
    float:right;
}

.menu li{
    float:left;
    margin-right:3px;
    border-right: 1px solid #CCCCCC;
    font-size: 21px;
    padding: 0 20px;
    text-shadow: 0 -1px 1px #999999;
}


.menu li:last-child {
    border-right: none;
}

.menu a{
    color: #777;
    text-decoration:none;
}

.menu a:hover {
    color:#444;
}

.menu .active>a {
    //text-shadow:none;
    color:#111;
}

/* css for form */
.error {
    color: red;
    font-size: 12px;
    margin: 0 0 0 10px;
}

input[type="text"], textarea {
    border: 1px solid #777;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px #777;
    padding:3px;
}

input[type="text"]:hover, textarea:hover {
    border: 1px solid #9DC8FF;
    box-shadow: 0 0 3px #57AECF;
}

input[type="text"]:focus, textarea:focus {
    border: 1px solid #408B64;
    box-shadow: 0 0 3px #408B64;
}


input {
    height: 20px;
    width: 300px;
}

.input-box {
    padding:5px;
}

label {
    display: block;
    float: left;
    position: relative;
    top: 0;
    width: 100px;
}

button {
    background: none repeat scroll 0 0 #33AA33;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px black;
    color: white;
    padding: 4px;
    text-shadow: 1px 1px 1px black;
}

.box-form {
    background-color: #EFEFEF;
    box-shadow: 0 0 3px #CCCCCC;
    margin-bottom: 20px;
    padding: 20px;
}
/* end css for form */

/* blog css*/
.blog-navs {
    float:right;
    width:20%;
    height:100%;
    border-left:solid 1px #CCC;
    padding-left:20px;
    padding-bottom:20px;
    margin-left:20px;
    margin-bottom:20px;
}

.post-content {
    //width:75%;

}

#tags, #other-posts {
    background: none repeat scroll 0 0 #F0F0E7;
    border-radius: 5px 5px 5px 5px;
    font-family: tahoma,arial;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 5px;
    width:100%;
    
}
#tags>div {
    float: left;
    margin: 4px;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    background: none repeat scroll 0 0 #EAEEFF;
    color: #003C0A;
}

#other-posts h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    color: #104C1A;
}
#other-posts a:hover{
    text-decoration:underline;
    color:#444;
}
#other-posts a{
    margin: 5px;
    font-size:12px;
}
/* END blog css*/
