{% extends 'base.html' %}
{% block subtitle %}Blog{% endblock %}

{% block content %}
<!--h3>Блог</h3-->
<div class="blog-navs">
  <div id="tags">
    <a href="{%url blog%}?tag=html&tag=css">HTML/CSS</a>
    <a href="{%url blog%}?tag=django&tag=python">Python/Django</a>
    <a href="{%url blog%}?tag=linux">Linux</a>
    <a href="{%url blog%}?tag=c&tag=c++">C/C++</a>
    <a href="{%url blog%}?tag=js">JavaScript</a>
    <a href="{%url blog%}">All</a>
  </div>
  {%if other_posts%}
  <div id="other-posts">
    <h1>Похожие статьи</h1>и
    {% for p in other_posts %}
    <a href="{% url blog-post-view p.id %}">{{p.header}}({{p.created}})</a>
    {% endfor %}
  </div>
  {%endif%}
</div>
<div class="post-content">
  {% block blog_content %}
  {% for p in posts %}
  <h3>{{p.header}}</h3>
  <h5>{{p.author}} - {{p.created}}</h5>
  <p>{{p.preview|safe}}</p>
  <a href="{% url blog-post-view p.id %}">читать дальше...</a>
  {% endfor %}
  {% endblock blog_content %}
</div>

{% endblock content %}

