{% extends 'base.html' %}
{% block subtitle %}Home{% endblock %}

{% block content %}
<div class="header-content">
  <div class="avatar">
    {% if profile.avatar %}
    <img src="{{profile.avatar}}"/>
    {% endif %}
  </div>
  <h1>{{profile.first_name}} {{profile.last_name}}</h1>
  <h2>python-developer</h2>
  <p>{{profile.note}}</p>
  <p>
    Email: <span><a href="mailto:{{profile.email}}">{{profile.email}}</a></span><br/>
    Website: <span>{{profile.website}}</span>
  </p>
</div>
<hr/>
<div class="inner-content">
  {% if profile.work_set.count %}<h3>Послужной список</h3>{% endif %}
  {% for w in profile.jobs %}
  <div class="content-box">
    <h1>{{w.campaign}}</h1>
    <h2>{{w.place}} ({{w.begin}}{% if w.end %} - {{w.end}}{% endif %})</h2>
    <p>{{w.note|safe}}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
